/* debug */

div {
    border: 1px solid red;
}

header, nav, section, article, aside, nav, main, footer, main {
    border: 1px solid yellow;
}

.row {
    border: 1px solid orchid;
}

.logo img {
    border: 1px solid green;
}

.column, .columns {
    border: 1px solid purple;
}

.header {
    background-color: darkorange;
}

.site-quote {
    background-color: lightskyblue;
}

.hero {
    background-color: aquamarine;
}

.features {
    background-color: mediumslateblue;
}

.bottom-nav {
    background-color: bisque;
}

.pre-footer {
    background-color: darkcyan;
}

.footer {
    background-color: yellow;
}

