
div, section {
    /* border: 1px solid red !important; */
}
body {
    background-color: #99ddff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
    height: 300px;
    border: 2px solid black;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #338866;
}

h1, h2, h3, p {
    margin: 5px;
}

/* no longer used... using .container-fluid class on page container div to support bootstrap full-width fluid to adapt to viewport width */
/* #container {
    display: grid;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    clear: both;
} */

#header {
    background-color: #38bad1;
    color: #000000;
    text-align: center;
    padding: 10px;  
}

#content {
    background-color: #4559b3;
    padding: 10px 25px 30px 20px;
}

#nav {
    background-color: #ddeecc;
    width: 18%;
    float: left;
}

.nav-title {
    /*border: 3px solid blue;*/
    /* position: relative; */
    /* transform: rotate(-90deg); */
}

.nav-items {
    /* position: relative; */
}

#nav ul {
    list-style-type: none;
    padding: 10px;
}

#nav .selected {
    font-weight: bold;
    color: #334433;
}
#main {
    background-color: #ffccaa;
    width: 75%;
    float: right;
}

#footer {
    background-color: #66bb33;
    clear: both;
    padding: 10px;
    text-align: right;
    font-size: 10pt;
}

.profile-pic {
    height: 120px;
    padding: 0;
}

