/* Do I need to add this or is it in Skeleton or Normalize??? */
/* * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
} */


/* BASE STYLES */


/* SHARED  */



body {
    font-size: 1.4rem; 
} /* =14px */

h1   {
    font-size: 2.4rem; 
} /* =24px */

h2 {
    font-size: 2rem;
    padding-top: 5px;
}

h5 {
    font-weight: bold;
}

p {
    font-size: 1.3rem;

}

p + ul, ol {
    font-size: 1.3rem;
    margin-top: -1.5rem;
    padding-left: 3rem;
}

img {
    /* max-height: 50px; */
    /* border: solid white .6rem; */

}

.work-title {
    font-style: italic;
    margin-right: 0.3rem;
}

/* CONTAINER */

.container {
    max-width: 960px;
    background-color: darkkhaki;
    padding-left: 5px;
    padding-right: 5px;
}

section.features {
    padding-bottom: 10px;
}

/* PAGE */
.page {
    background-color: bisque;
}



/* HEADER */
.header {
    background-color: darkorange;
}

.header .menu {
    text-align:center;
}

.index .logo {
    max-height: 100px;   
}

.content-index .logo {
    max-height: 120px;
}

.content .logo {
    max-height: 55px;
}

.container .content-landscape-image {
    text-align: center;
    background-color: white;
    margin-left: -5px;
    margin-right: -5px;
}

nav {
    margin-top: 10px;
}
nav ul {
    list-style: none;
}

nav li {
    display: inline;
}

nav a {
    padding: 5px;
    border: 1px solid lightgrey;
    margin: 0;

}

nav li .current {
    /* border: 1px solid grey; */
    background-color: lightgray;
}

a {
    color:inherit;
}



/* SECTIONS */


.section {

}


/* SITE-QUOTE */

.site-quote {
    background-color: darkgreen;
    color: greenyellow;
    padding-top: 20px;
}

blockquote {
    /* To override normalise "user agent" margin on blockquote as was forcing gap prior to section */
    /* -webkit-margin-before: 0; */
    margin-top: 0;
}

/* HERO */
.hero {
    background-color: lemonchiffon;
}

.hero img {
    max-width: 120px;
    margin-top: 15px;
    /* padding: 5px; */
    /* border: solid white .2em; */
}

.hero h3 {
    font-size: 2rem;
    display: inline-block;
    text-align: center;
}

.hero h4 {
    font-size: 1.5rem;
    text-align: center;
}


/* CONTENT */


/* CONTENT HEADER */

.content-header {

}

.content-header-image {
    margin-left: -5px;
    margin-right: -5px;
    
}

.content h2 {
    font-size: 2.6rem;
    font-weight: bold;
}

.content h3 {
    font-size: 2.1rem;
    font-weight: bold;
}

.content h4 {
    font-size: 1.9rem;
    font-weight: bold;
}

.content h5 {
    font-size: 1.5rem;
    font-style: italic;
}

h5.tag-heading {
    display: inline;
    font-size: 1.5rem;
    text-align: right;
    margin-right: 10px;
    font-style: italic;
}

.content ul.tags {
    list-style: none;
    /* display: inline-block; */
    text-align: right;
    margin-right: 10px;
    display: inline;
}

.content .tags li {
    display: inline;
    /* font-size: 1em; */
}

.content .tags li a {
    /* font-size: 1.1em; */
}


.content h5.tag-heading {
    /* NOT SURE WHY CANT USE THIS SELECTOR!! */
    /* text-align: right; */
}

.content-header {
    /* padding-bottom: 10px; */
}

.content-body {
    padding-top: 10px;
    padding-bottom: 10px
}

.content-body h3 {
    margin-bottom: 5px;
}

/* .content-header-image img {
    padding-left: -10px;
    padding-right: -20px;
} */


/* ASIDE AND FIGURES */

aside {
    background-color: peachpuff;
    /* margin-left: 10px;
    margin-right: 10px; */
    padding: 10px;
    /* box-shadow: 20px gray; */
}

.content aside {
    padding-top: 7px;
    padding-bottom: 7px;
    font-style: italic;
    border-radius: 2rem;
}

aside code {
    font-size: 1.1rem;
    font-weight: bold;
    font-style: normal;
    
}

/* RELATED CONTENT PROMO */

.related-item img {
    max-height: 80px;
}

.related .show-more {
    text-align: right;
}


/* FEATURES */

.features {
    /* background-color: mediumslateblue; */
}

.features h2 {
    font-size: 2em;
    text-align: center;
}
.features img {
    /* padding: 5px; */
}

.features p {
    margin-bottom: .5em;
}

/* FEATURES LATEST */

.container .latest {
    /* background-color: aquamarine; */
    /* margin: 20px;
    padding: 20px; */
}
.latest h4 {
    font-size: 2.3rem;
    display: inline;
}

.latest img {
    max-width: 70px;
    border: solid white .2rem;
    background-color: white;
}

.latest-promo {
    border: 1px solid #dcd577;
    margin-left: 5px;
    padding: 4px;
}


/* FEATURES RECENT */

.container .recent {
    /* background-color:brown; */
}

.recent-promo, .latest-promo {
    margin-top: 1.5em;
}

.recent h2 {
    font-size: 1.5em;
    font-weight: 400;
}

.recent h4 {
    font-size: 1.8rem;
    display: inline-block;

}

.recent img {
    max-width: 40px;
    border: solid white .1rem;
    background-color: white;
}

.recent-promo {
    border: 1px solid #dcd577;
    margin-right: 5px;
    padding: 4px;
}

.recent-promo p {
    font-size: 1.4rem;
}

.recent-promo h4 {
    font-size: 1.6rem;
    font-weight: 400;
}

/* BOTTOM NAV */

.bottom-nav {
    background-color: darkgreen;
    color: greenyellow;
}

/* FOOTER */
.pre-footer {
    background-color: darkcyan; 
}

footer.container {
    background-color: darkorange;
    
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {
    body { font-size: 1.5rem; } 
    h1   { font-size: 2.6rem; } 
    .header .logo {
        max-width: 60%;
    }
    
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    body { font-size: 1.7rem; } 
    h1   { font-size: 2.8rem; } 
    .header .logo {
        max-width: 100%;
    }
    
}

/* Larger than tablet */
@media (min-width: 750px) {
    body { font-size: 1.9rem; } 
    h1   { font-size: 3rem; } 
}

/* Larger than desktop */
@media (min-width: 1000px) {
    body { font-size: 2.1rem; } 
    h1   { font-size: 3.3rem; } 
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    body { font-size: 2.4rem; } 
    h1   { font-size: 3.8rem; } 
}